<table class="table">
  <th>Outline</th>
  <th>Course</th>
  <th>Document</th>
  <tb>

      <% @user.outlines.each do |outline| %>
      <tr>
        <td><%= outline.title %></td>
        <td><%= outline.course.name %></td>
        <td><%= link_to "#{outline.title}", outline.attachment_url %></td>
      </tr>
      <% end %>

</tb>
</table>
