<table>
  <th>Your Outlines</th>
  <tb>
    <tr>
      <% @user.outlines.each do |outline| %>
      <td><%= outline.title %></td>
      <td><%= outline.course %></td>
      <td><%= link_to "#{outline.title}", outline.attachment_url %></td>
      <% end %>
    </tr>
</tb>
</table>
